#container {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid rgb(181, 181, 221);
    margin: auto;
    margin-top: 20px;
}

h3 {
    text-align: center;
}

button {
    margin: auto;
    margin-top: 20px; 
}

body {
    display: flex;
    flex-direction: column;    
}